html, body, app {
	min-height: 100%;
}
body {
	overflow-y: scroll;
	&::-webkit-scrollbar-track {
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,.2);
	}
}

p {
	margin-bottom: 10px;
}
